/* CSSS STYLES FOR ABOUT PAGE */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column img{
  height: 350px;
}

/* STYLES FOR CARD COMPONENT USED IN ABOUT PAGE */
.Aboutcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.Aboutcontainer {
  padding: 0 16px;
}

.Aboutcontainer::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* STYLES FOR TITLE */
.AboutTitle {
  color: grey;
}

.AboutButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.AboutButton:hover {
  background-color: #555;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
